@import "./variables.css";

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

textarea {
    resize: vertical;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}